body { font-family: Microsoft YaHei; font-size: 0; background-color: #fff; }
.header { width: 100%; height: 230px; background: url(../images/header-bg.png) repeat-x; }
.wraper { width: 1100px; margin: 0 auto; }
.top-bar { height: 40px; width: 100%; }
.welcome { display: inline-block; font-size: 14px; color: #fff; line-height: 20px; margin: 8px 0 0 10px; }
.wx, .wb { float: right; width: 24px; height: 20px; padding-left: 26px; margin: 8px 0 0 24px; font-size: 12px; line-height: 20px; color: #fff; }
.wx { position: relative; background: url(../images/weixin.png) no-repeat; margin-right: 2px; }
.wx:hover { background: url(../images/weixin-h.png) no-repeat; color: #0178bc; }
.wx-qr { position: absolute; top: 32px; right: 0; display: none; width: 100px; height: 100px; background: #eee; z-index: 10;}
.wx:hover .wx-qr { display: block; }
.wb { background: url(../images/weibo.png) no-repeat; }
.wb:hover { background: url(../images/weibo-h.png) no-repeat; color: #0178bc; }
.logo-bar { width:100%; height: 140px; position: relative; }
.logo { position: absolute; top: 27px; display: block; width: 461px; height: 83px; background: url(../images/logo.png) no-repeat; }
.ht1, .ht2 { display: inline-block; width: 287px; height: 14px; font-size: 14px; line-height: 14px; margin-bottom: 17px; padding-left: 24px; background: url(../images/star.png) no-repeat; }
.ht1 { position: absolute; top: 45px; left: 542px;}
.ht2 { position: absolute; top: 76px; left: 542px; }
.yx { position: absolute; top: 59px; right: 1px; width: 258px; height: 25px; }
.jz {/*text-align: center;*/ text-align: left; font-size: 0; }
.menu { display: inline-block; height: 50px; font-size: 16px; line-height: 50px; }
.menu>li { float: left; margin-right: 2px; }
.menu>li>a { display: block; color: #fff; padding: 0 27px; }
.menu>li:hover, .on { background: #00649f; }
.menu-2 { display: none; font-size: 14px; border-top: 1px solid #0178bc; padding-bottom: 21px; background: #00649f; }
.menu-2>li>a { display: block; width: 100%; height: 39px; line-height: 39px; color: #fff; text-align: center; }
.menu-2>li>a:hover { background: #e5e5e5; color: #000;}
.menu>li:hover .menu-2 { position: relative; display: block; z-index: 10; }
.banner { width: 1100px; height: 450px; position: relative; margin: 0 auto; overflow: visible!important; }
.container1 { width: 1920px; height: 450px; position: absolute; left: -410px; }
.wrapper1 { width: 1920px; }
.arrow-left { display: block; position: absolute; left: 0; top: 205px; width: 40px; height: 40px; background: url(../images/arrow-left.png) no-repeat; z-index: 10; }
.arrow-left:hover { background: url(../images/arrow-left-h.png) no-repeat; }
.arrow-right { display: block; position: absolute; right: 0; top: 205px; width: 40px; height: 40px; background: url(../images/arrow-right.png) no-repeat; z-index: 10; }
.arrow-right:hover { background: url(../images/arrow-right-h.png) no-repeat; }
.main { width: 1100px; margin: 0 auto; }
.btn-menu { position: relative; top: -51px; width: 1100px; z-index: 10; }
.btn-menu>li { float: left; }
.btn-menu>li>a { display: block; width: 130px; height: 38px; text-align: center; color: #0178bc; font-size: 18px; line-height: 32px; padding-top: 130px; margin:0 45px; }
.intr { position: relative; padding-top: 165px; width: 1100px; height: 250px; background: url(../images/main-zxjj.png) no-repeat; background-position: right 0 bottom 0; }
.main-tc, .main-te { display: inline-block; line-height: 20px; font-size: 20px; padding-left: 7px; }
.main-tc { color: #0178bc; }
.main-te { color: #bcbcbc; }
.intr-text { font-size: 14px; width: 581px; padding: 42px 0 0 7px; }
.intr-btn { position: absolute; top: 276px; left: 609px; display: block; width: 94px; height: 42px; border: none; background: #515151; color: #fff; font-size: 16px; text-align: center; line-height: 42px;}
.news { position: relative; width: 1100px; height: 332px; padding-top: 26px; }
.news-slide { position: absolute; top: 60px; left: 7px; width: 426px; height: 298px; }
.container2 { width: 426px; height: 298px; }
.news-left { display: block; position: absolute; left: 0; top: 134px; width: 30px; height: 30px; background: url(../images/news-left.png) no-repeat; z-index: 10; }
.news-left:hover { background: url(../images/news-left-h.png) no-repeat; }
.news-right { display: block; position: absolute; right: 0; top: 134px; width: 30px; height: 30px; background: url(../images/news-right.png) no-repeat; z-index: 10; }
.news-right:hover { background: url(../images/news-right-h.png) no-repeat; }
.pagination2 { position: absolute; bottom: 5px; right: 5px; width: 60px; height: 10px;; z-index: 10;}
.swiper-pagination-switch { display: inline-block; width: 10px; height: 10px; border-radius: 10px; background: #0178bc; margin: 0 5px; cursor: pointer; opacity: 0.5; }
.swiper-active-switch { background: #00649f; opacity: 1; }
.news-tab { position: absolute; top: 60px; right: 0; width: 631px; height: 298px; }
.tabs { height: 26px; }
.tab-btn { display: inline-block; width: 85px; height: 26px; margin-right: 49px; font-size: 16px; color: #000; text-align: center; line-height: 26px; }
.tab-on { background: url(../images/tab-bg.png) no-repeat; color: #fff; }
.little-more { display: inline-block; width: 75px; height: 18px; background: #eef1f6; color: #007abd; text-align: center; font-size: 12px; line-height: 18px; }
.news-more { position: absolute; top: 4px; right: 17px; }
.nt { width: 631px; height: 250px; margin-top: 22px; }
.nl { margin-bottom: 7px; }
.nl>a { display: inline-block; height: 16px; padding-left: 20px; margin-bottom: 7px; font-size: 16px; line-height: 16px; background: url(../images/nl.png) no-repeat; background-position: 0 5px; }
.nl-on>a { color: #0178bc; background: url(../images/nl-on.png) no-repeat; background-position: 0 5px; }
.nl-on>.nl-text { display: block; padding-left: 20px; padding-right: 17px; }
.nl>span { font-size: 14px; line-height: 16px; color: #a3a3a3; float: right; margin-right: 17px; }
.nl-text { display: none; font-size: 14px; line-height: 25px; color: #a3a3a3; }
.team { position: relative; padding-top: 50px; width: 1100px; height: 226px; }
.team-more { position: absolute; top: 54px; right: 17px; }
.team-list { position: absolute; bottom: 0; left: 7px; width: 1086px; height: 180px; }
.ys-li { position: relative; width: 494px; height: 180px; float: left; }
.ys-img { width: 148px; height: 180px; /*background: url(../images/ys1.png) no-repeat; */}
.ys-div { position: absolute; left: 148px; top: 0; width: 346px; height: 180px; }
.ys-name { position: absolute; left: 28px; top: 0; display: inline-block; line-height: 18px; font-size: 18px; color: #000; }
.ys-zw { position: absolute; left: 119px; top: 0; display: inline-block; line-height: 18px; font-size: 16px; color: #000; }
.ys-xx { position: absolute; left: 28px; top: 51px; display: inline-block; width: 300px; line-height: 18px; font-size: 14px; color: #707070; }
.xq { position: absolute; left: 28px; bottom: 0; display: block; width: 88px; height: 36px; font-size: 14px; line-height: 36px; color: #fff; text-align: center; background: #057bc1; }
.show { display: block; }
.hide { display: none; }
.qual { position: relative; width: 1100px; height: 352px; padding-top: 55px; }
.qual-more { position: absolute; top: 59px; right: 322px; }
.zk { position: absolute; top: 97px; left: 7px; width: 771px; height: 310px; }
.zkan { display: block; width: 161px; height: 60px; font-size: 16px; line-height: 60px; text-align: center; background: #fff; color: #000; }
.zkan-on { background: #057bc1; color: #fff; }
.container4 { position: absolute; top: 0; left: 181px; width: 590px; height: 310px; }
.zk-a { position: relative; display: block; width: 373px; height: 139px; padding-left: 217px; margin-bottom: 30px; background: url(../images/zk1.png) no-repeat; }
.zk-at { position: absolute; top: 0; left: 217px; font-size: 16px; line-height: 16px; color: #000; }
.zk-ad { position: absolute; top: 32px; left: 217px; font-size: 14px; line-height: 14px; color: #a3a3a3; }
.zk-te { position: absolute; top: 60px; left: 217px; font-size: 14px; line-height: 20px; color: #a3a3a3; }
.xt { position: absolute; display: block; width: 305px; height: 136px; }
.xt1 { top: 100px; right: 10px; background: url(../images/xt1.png) no-repeat; }
.xt2 { top: 266px; right: 10px; background: url(../images/xt2.png) no-repeat; }
.coll { position: relative; width: 1100px; height: 210px; margin-top: 61px; background: url(../images/coll-bg.png) no-repeat; }
.coll-t { position: absolute; top: 50px; left: 20px; display: inline-block; line-height: 40px; font-size: 20px; color: #fff; }
.container5 { position: absolute; top: 20px; right: 39px; width: 772px; height: 171px; }
.wrapper5 { text-align: center; }
.slide5 { width: 245px; height: 171px; }
.coll-l { position: absolute; top: 89px; left: 262px; width: 11px; height: 24px; background: url(../images/coll-l.png) no-repeat; }
.coll-r { position: absolute; top: 89px; right: 12px; width: 11px; height: 24px; background: url(../images/coll-r.png) no-repeat; }
.link { position: relative; width: 1100px; height: 230px; margin-top: 60px; }
.link-t { margin-top: 5px; }
.line { position: absolute; top: 16px; left: 159px;  width: 850px; height: 1px; background: #dcdcdc;  }
.link-l { position: absolute; top: 0; right: 53px; display: block; width: 30px; height: 30px; background: url(../images/link-l.png) no-repeat; }
.link-l:hover { background: url(../images/link-l-h.png) no-repeat; }
.link-r { position: absolute; top: 0; right: 8px; display: block; width: 30px; height: 30px; background: url(../images/link-r.png) no-repeat; }
.link-r:hover { background: url(../images/link-r-h.png) no-repeat; }
.container6 { position: absolute; top: 56px; left: 0; width: 1100px; height: 100px; }
.wrapper6 { text-align: center; }
.slide6 { width: 206px; height: 100px; }
.footer { width: 100%; height: 59px; background: #444; text-align: center; }
.footer>p, .footer>p>a { font-size: 14px; line-height: 59px; color: #fff; }




